@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Slackey');
@import url('https://fonts.googleapis.com/css?family=Diplomata');
@import url('https://fonts.googleapis.com/css?family=Plaster');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica');
@import url('https://fonts.googleapis.com/css?family=Play');

body > * {
    margin: 50px;
    font-size: 50px;
}

h3 {
    font-family: MyWebFont;
    word-spacing: -15px;
}

.double-pica {
    font-family: "IM Fell Double Pica";
    font-variant: small-caps;
}

.plaster {
    font-family: Plaster;
    letter-spacing: 15px;
    word-spacing: 30px;

}

.slackey {
    font-family: Slackey;
}

.diplomata {
    font-family:diplomata;
    word-spacing: 40px;
    letter-spacing: 30px;
}

.league-gothic {
    font-family: league_gothicregular;
    text-transform: uppercase;
}


.geobats {
    font-family: geobats;
    font-size: inherit;
}

.cursive {
    font-family: cursive;
}

.bungee {
    font-family: bungee, cursive;

    font-size: 50px;
}

.amatic {
    font-family: 'Amatic SC';
    text-transform: uppercase;
    font-size: 50px;
}

.drudge {
    font-family: monospace;
    /*text-decoration: blink;*/
    text-decoration: overline underline;
}

.drudge-logo {
    font-family: league_gothiccondensed_italic;
    font-size: 80px;
    /*font-style: italic;*/
    /*font-weight: 900;*/
    letter-spacing: 10px;
    text-shadow: -10px -4px 1px grey;

}

.samuel {
    font-size: inherit;
    line-height: 25px;
    margin-bottom: 150px;

    text-align: justify;
    text-indent: -20px;
}

.samuel:first-letter {
    font-size: 50px;
    background: black;
    color: white;
}

.samuel:first-line {
    color: red;
}



/*
BLINK
*/

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}


.rock-salt {
    font-family: 'Rock Salt', cursive;
}


/*
*
*   FONT FACE DIRECTIVES
*
*/



/*
*
*   GEOBATS
*
*/

@font-face {
    font-family: "geobats";
    src: url('assets/fonts/geobats/geobats.ttf');
}


/*
*
*   ALEX BRUSH
*
*/

@font-face {
    font-family: 'MyWebFont';
    /*src: url('WebFont.eot');*/
    /*src: url('WebFont.eot?#iefix') format('embedded-opentype'),*/
    /*url('WebFont.woff') format('woff'),*/
    src: url('assets/fonts/AlexBrush-Regular.ttf');
    /*url('WebFont.svg#webfont') format('svg');*/
}


/*
*
*   LEAGUE GOTHIC
*
*/

@font-face {
    font-family: 'league_gothiccondensed_italic';
    src: url('assets/fonts/leaguegothic-condenseditalic-webfont.woff2') format('woff2'),
    url('assets/fonts/leaguegothic-condenseditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'league_gothicCnRg';
    src: url('assets/fonts/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
    url('assets/fonts/leaguegothic-condensedregular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'league_gothicitalic';
    src: url('assets/fonts/leaguegothic-italic-webfont.woff2') format('woff2'),
    url('assets/fonts/leaguegothic-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'league_gothicregular';
    src: url('assets/fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
*
*  Lists
*
*/

.list {
    font-family: Play;
    font-size: 20px;
}

ul {
    list-style-type: square;

    margin-left: 0;
    padding-left: 0;
}

li.disc {
    list-style-type: disc;
}

li.circle {
    list-style-type: circle;
}

li.lol {
    list-style-image: url('assets/bullet.gif')!important;
    margin-left: 300px;
}

ol {
    list-style-type: decimal-leading-zero;

    list-style-position: inside;
}

li.one{
    list-style-type: decimal;
}

li.three{
    list-style-type: upper-alpha;
}

li.four{
    list-style-type: lower-alpha;
}

li.five {
    list-style-type: upper-roman;
}

li.six {
    list-style-type: lower-roman;
}

.best-rappers li {
    list-style-type: none;
    counter-increment: item;
}

.best-rappers li:before {
    content: counter(item) ". ";
    color: red;
}


